.mobile-app-dashboard
  a(href='/plan')
    .mobile-app-dashboard-inner
      i.fa.fa-calendar-check-o(aria-hidden='true')
      span Planifier Maintenance
  a(href='/poststatus')
    .mobile-app-dashboard-inner
      i.fa.fa-cog.mobile-app-dashboard-icon(aria-hidden='true')
      span Etats Postes
  a(href='/employeestats')
    .mobile-app-dashboard-inner
      i.fa.fa-id-badge(aria-hidden='true')
      span Status des personels
  a(href='/teams')
    .mobile-app-dashboard-inner
      i.fa.fa-check-square-o(aria-hidden='true')
      span Disponibilit&eacute; des Equipes
  a(href='/faq')
    .mobile-app-dashboard-inner
      i.fa.fa-question(aria-hidden='true')
      span FAQ: ONEE
  a(href='/extra')
    .mobile-app-dashboard-inner
      i.fa.fa-plus(aria-hidden='true')
      span EXTRA
