extends layout.pug
block content
    .login-box
        .row.collapse.expanded
            .small-12.medium-6.column.small-order-2.medium-order-1
                .login-box-form-section
                    h1.login-box-title Login
                    form(action='/hello', method='post')
                        input.login-box-input(type='text' name='username' placeholder='Username')
                        input.login-box-input(type='password' name='password' placeholder='Password')
                        input.login-box-submit-button(type='submit' name='signup_submit' value='Se connecter')
