doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  block title
  link(rel='stylesheet' href='static/css/foundation.css')
  link(rel='stylesheet' href='static/css/app.css')
  link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
body
    include header.pug
    include nav.pug
    block content
    script(src='static/js/vendor/jquery.js')
    script(src='static/js/vendor/what-input.js')
    script(src='static/js/vendor/foundation.js')
    script(src='static/js/app.js')
include footer.pug