extends layout.pug
block content
 .people-you-might-know(style='width: 80%; margin: 0 auto;')
        block people
        block teams
        .view-more-people
            p.view-more-text
            a.view-more-link(href='/') Retour à l'acceuil..
